{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "printWidth": 160,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "tailwindConfig": "./tailwind.config.js",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
